<html lang="en">

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>My Daddy loves Digimon</h1>
  </div>

  <p>Click on the button for a surprise.</p>

  <button onClick="showPicture()" class="btn btn-dark">Click me</button>

  <div id="image"></div>

  <input class="search" type="text" placeholder="Enter city name">
  <button type="button" onClick="searchweather()">Search</button>

  <div class="error-message"></div>

  <div class="city"></div>

  <div class="temp"><div>

  <div>
  
</body>

</html>